.results-wrapper {
    .container {
        display: flex;
        justify-content: flex-start;
        align-items: stretch;
        flex-wrap: wrap;
        padding-top: 20px;
    }
}

p.no-results {
    text-align: center;
}