.location-title {
    .container {
        padding-bottom: 0;
        padding-top: 40px;
    }

    h2 {
        font-family: 'Anton', sans-serif;
        text-transform: uppercase;
        letter-spacing: 1px;
        text-align: center;
        font-size: 34px;
    }
}