.header {    
    .container {
        position: relative;
    }

    h1 {
        position: relative;
        margin: 20px 0 0;
        font-size: 110px;
        max-width: 520px;
        line-height: 1;
        z-index: 5
    }

    .content-wrapper {
        position: relative;
        max-width: 580px;
        margin-right: 0;
        margin-left: auto;
        top: -80px;
        z-index: 5;

        p {
            font-size: 20px;
        }
    }

    .btn-wrapper {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-top: 30px;

        .btn-full {
            margin-right: 20px;
        }
    }
}

.gradient {
    position: absolute;

    &.bottom-left {
        bottom: -20%;
        right: 10%;
        z-index: 4;
	    transition: opacity 2s ease, transform 0.1s ease;
    }

    &.top-right {
        top: -35%;
        right: -25%;
        z-index: 3;
	    transition: opacity 1.4s ease, transform 0.1s ease;
    }

    &.bottom-right {
        right: -20%;
        top: 15%;
        z-index: 2;
	    transition: opacity 2.5s ease, transform 0.1s ease;
    }

    &.top-left {
        right: 5%;
        top: -25%;
        z-index: 1;
	    transition: opacity 0.8s ease, transform 0.1s ease;
    }
}

@media screen and (max-width: 1024px) {
    .header {
        .content-wrapper {
            top: 0;
        }
    }

    .gradient {
        max-width: 80vw;

        &.bottom-left {
            bottom: -20%;
            right: 40%;
        }
    
        &.top-right {
            top: -35%;
            right: 5%;
        }
    
        &.bottom-right {
            right: 0;
            top: 15%;
        }
    
        &.top-left {
            right: 10%;
            top: -25%;
        }
    }
}

@media screen and (max-width: 850px) {
    .header {
        h1 {
            font-size: 80px;
        }

        .content-wrapper {
            margin-top: 40px;
        }
    }
}

@media screen and (max-width: 767px) {
    .header {
        overflow: hidden;

        h1 {
            font-size: 68px;
        }

        .btn-wrapper {
            display: block;
            margin-top: 30px;

            .btn {
                width: 100%;
            }
    
            .btn-full {
                margin: 0 0 20px;
            }
        }
    }

    .gradient {
        max-width: unset;
        width: 120vw;

        &.bottom-left {
            bottom: auto;
            top: 10%;
            right: 0;
        }
    
        &.top-right {
            top: -30%;
            right: -30%;
        }
    
        &.bottom-right {
            right: -40%;
            top: 0;
        }
    
        &.top-left {
            right: -10%;
            top: -20%;
        }
    }
}