.result {
    position: relative;
    width: calc(50% - 30px);
    margin: 15px;
    color: inherit;
    background: $white;
    border-radius: 10px;
    border: 1px solid #f5f5f5;
    box-shadow: -6px -6px 26px 0 rgba(255,255,255,1), 4px 4px 18px 0 rgba(217,210,200,0.6);
    padding: 40px;
    text-decoration: none;
    transition: all 0.2s ease;

    &:hover,
    &:focus {
        box-shadow: -6px -6px 26px 0 rgba(255,255,255,1), 6px 6px 20px 0 rgba(217,210,200,0.9);
        transform: translateY(-5px);

        .tag {
            opacity: 1;
        }
    }

    &:active {
        box-shadow: inset -3px -3px 16px 0 rgba(255,255,255,0.83), inset 10px 10px 10px 0 rgba(217,210,200,0.51);
    }

    .title {
        margin: 30px 0 10px;
    }

    .description {
        margin: 0;
        font-size: 16px;
        color: #5e5e5e;
    }

    .tag {
        display: inline-block;
        text-transform: uppercase;
        font-size: 13px;
        letter-spacing: 1px;
        font-weight: 600;
        background: grey;
        padding: 5px 10px;
        border-radius: 30px;
        color: white;
        opacity: 0.75;
        transition: all 0.2s ease;

        &.event {
            background: linear-gradient(45deg, #b65eba, #2e8de1);
        }

        &.fund {
            background: linear-gradient(45deg, #5874dc, #ff9482);
        }

        &.organization {
            background: linear-gradient(45deg, #ff9897, #f650a0);
        }

        &.petition {
            background: linear-gradient(45deg, #f869d5, #5650de);
        }

        &.resource {
            background: linear-gradient(45deg, #6ee2f5, #6454f0);
        }
    }
}

@media screen and (max-width: 767px) {
    .result {
        width: 100%;
        margin: 15px 0;

        .tag {
            font-size: 10px;
            letter-spacing: 2px;
        }

        &:focus {
            transform: translateY(0);
        }

        &:active {
            box-shadow: -6px -6px 26px 0 rgba(255,255,255,1), 4px 4px 18px 0 rgba(217,210,200,0.6);
        }
    }
}