body {
    background: $white;
}

.container {
    padding: 60px 6%;
    max-width: 1400px;
    margin: auto;
}

.lazyload,
.lazyloading {
	opacity: 0;
}
.lazyloaded {
	opacity: 1;
}

@media screen and (max-width: 767px) {
    .container {
        padding: 40px 4%;
    }
}